# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# Python build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/